html,body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
html,body *{
    user-select:none;
}

div,input,span,a,p,br,h1,h2,h3,ul,li,ol{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.video-container{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
.video-container video{
    object-fit: cover;
}

@keyframes toolsAnimation{
    from {filter: opacity(0);}
    to {filter: opacity(1);}
}

.video-container .tools{
    position: absolute;
    width: fit-content;
    height: 62px;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #404040;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 1px #444;
    overflow: visible;
    padding: 0;
    opacity: 1;
    -webkit-app-region: no-drag;
}

.video-container .tools:hover{
    animation: toolsAnimation 1.5s;
    opacity:1;
}

.video-container .tools:hover >*{
    filter: none;
}

.video-container .tools > *{
    width: 72px;
    line-height: 1.0;
    height: 100%;
    border: none;
    text-align: center;
    background-color: transparent;
    color: white;
    box-sizing: content-box;
    display: inline-block;
    vertical-align: middle;    
    border-right: solid 1px #a0a0a040;
    border-left: solid 1px transparent;
    position: relative;
    font-size: 0;
    margin: 0;
    padding: 0;
}

.video-container .tools > *:not(:first-child){
    margin-left: -4px;
}

.video-container .tools > *:hover{
    background-color:#00000033;
}

.video-container .tools >:last-child{
    border-right: 0;
}

.video-container .tools option{
    text-align: center;
    background-color: #404040AA;
    height: 32px;
    line-height: 1.0;
}

.video-container .tools .layout{
    line-height: 1.0;
}
.video-container .tools .label{
    width: 28px;
    height: 72%;
    line-height: 1.0;
    object-fit: contain;
}
.video-container .tools .tip{
    display: none;
}

.video-container .tools > *:hover .tip{
    display: block;
    position: absolute;
    top: -40px;
    min-width: 150px;
    width: fit-content;
    height: fit-content;
    font-size: 14px;
    white-space: nowrap;
    text-align: center;
    padding: 10px;
    background-color: brown;
    border-radius: 5px;
    left: -30px;
}

.video-container .tools .video2,.video-container .tools .record{
    display: none;
}

.video-container .tools .title{
    position: absolute;
    bottom: 8px;
    width: 100%;
    font-size: 12px;
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
    padding: 0 1px;
    font-weight: 400;
    letter-spacing: 2px;
    text-indent:2px;
}

.video-container .drag{
    position: absolute;
    width: 80%;
    height: 80%;
    left: 10%;
    top:10%;
    font-size: 0;
    margin: 0;
    padding: 0;
    background: transparent;
    -webkit-app-region: drag;
}

.heisir{
    padding: 0;
    margin: 0;
    background-color: #252526;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    
    -webkit-app-region: no-drag;
}

.heisir .header{
    width: 100%;
    height: 32px;
    position: absolute;
    background-color: #333333;
    border-bottom: solid 1px #454545;
    z-index: 2;
    -webkit-app-region: drag;
    box-sizing: content-box;
}

.heisir .toolbar{
    width: 100%;
    height: fit-content;
    position: absolute;
    top: 33px;
    z-index: 2;
}


.heisir .network{
    width: fit-content;
    right: 0;
    position: absolute;
    text-align: left;
    background-color: #00000044;
    height: 24px;
    padding: 0 5px;
    box-sizing: content-box;
    border-bottom-left-radius: 4px;
}
.heisir .network *{
    font-size: 10px;
    line-height: 24px;
    font-style: normal;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    color: white;
    vertical-align: middle;
    white-space: nowrap;
}
.heisir .network .upload,.heisir .network .download{
    width: fit-content;
}
.heisir .network .wireless{
    width: 12px;
    background-image: url(../icon/network.png);
    margin-right: 5px;
}

.heisir .header > *{
    display: inline-block;
}
.heisir .systools{
    width: fit-content;
    right: 0px;
    position: absolute;
    height: 100%;
    box-sizing: content-box;
    overflow: hidden;
    -webkit-app-region: no-drag;
}

.heisir .header .title{
    width: fit-content;
    height: 100%;
    line-height: 32px;
    color: #e5e5e5;
    vertical-align: middle;
    margin: 0 10px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2px;
    text-indent: 2px;
}

.heisir .systools >*{
    width: 32px;
    height: 100%;
    display: inline-block;
}

.heisir .systools .minimize{
    background-image: url(../icon/minimize.png);
    background-size: 14px 14px;
    background-repeat: no-repeat;
    background-position: center;
}

.heisir .systools .minimize:hover{
    background-color: #505050;
    background-image: url(../icon/minimize_hover.png);
}

.heisir .header .systools .close{
    background-image: url(../icon/close.png);
    background-size: 14px 14px;
    background-repeat: no-repeat;
    background-position: center;
}

.heisir .header .systools .close:hover{
    background-color: #D71526;
    background-image: url(../icon/close-hover.png);
}

.heisir .header

.heisir .bitrate-container{
    position: absolute;
    top: 10px;
    right: 100px;
    -webkit-app-region: no-drag;
}

.heisir .bitrate-container .bitrateSelects,.heisir .bitrate-container .bitrateOption{
    margin: 5px 2px;
    border: 0px;
    padding: 5px 15px;
    font-size: 1em;
    background-color: black;
    color: white;
    -webkit-app-region: no-drag;
}

.heisir .desktop .screen-dialog{
    display: none;
    position: absolute;
    width: 700px;
    background-color: #d8d8d8ab;
    bottom: 72px;
    margin: 0 auto;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0px 0px 10px 1px #666;
    text-align: center;
    left: -490px;
    overflow-x: auto;
    z-index: 5;
    -webkit-app-region: no-drag;
    opacity: 0;
}


.heisir .desktop .screen-dialog .screen-poster{
    width: 200px;
    margin: 10px;
    box-shadow: 0px 0px 10px 1px #333;
}

.heisir .desktop:hover .screen-dialog{
    opacity: 1;
}

.heisir .desktop .screen-dialog .screen-poster:hover{
    transform: scale(1.1);
}

#App{
    width: 100%;
    height: 100%;
}


.el-header {
    -webkit-app-region: drag;
    padding:0 !important;
    background-color:#009afb;
    line-height: 40px;
}

.el-header .title{
    margin-left: 10px;
    font-weight: 600;
    font-size: 16px;
    color: #f3f3f3;
    margin-top: -6px;
}

.systemTool{
    position: fixed;
    right: 0;
    top: 0;
    margin-top: -6px;
    margin-right: 0px;
    -webkit-app-region: no-drag;
}


.systemTool .mylink{
    color: #f3f3f3;
    margin: 0 5px;
    text-decoration: none;
    font-size: 14px;
}
.systemTool .el-button{
    padding:0 !important;
    border:0 !important;
    border-radius:0 !important;
    color: #f3f3f3 !important;
}
.systemTool .el-button:hover{
    background-color: #D71526;
}
.systemTool .button{
    width: 30px;
    height: 30px;
    background-color: #00000000;
    font-size: large;
}

.systemTool .el-button+.el-button{
    margin-left: 0 !important;
}