html,body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
html,body *{
    user-select:none;
}

div,input,span,a,p,br,h1,h2,h3,ul,li,ol{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.video-container{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    overflow: auto;
  }
  
.video-container .drag{
    position: absolute;
    width: 80%;
    height: 80%;
    left: 10%;
    top:10%;
    font-size: 0;
    margin: 0;
    padding: 0;
    background: transparent;
    -webkit-app-region: drag;
}

.video-container video{
    object-fit: none;
    box-shadow: inset 0px 0px 25px 0px #fff;
}

.video-container .tools{
    position: relative;
    width: fit-content;
    height: 60px;
    bottom: 15%;
    margin: 0 auto;
    background: #404040AA;
    border-radius: 10px;
    overflow: hidden;
    padding: 0 10px;
    -webkit-app-region: no-drag;
}

.video-container .tools > *{
    width: 60px;
    line-height: 1.0;
    height: 100%;
    border: none;
    text-align: center;
    background-color: transparent;
    color: white;
    box-sizing: content-box;
    display: inline-block;
    vertical-align: middle;
}

.video-container .tools > *:hover{
    transform: scale(1.3);
}

.video-container .tools option{
    text-align: center;
    background-color: #404040AA;
    height: 32px;
    line-height: 1.0;
}

.video-container .tools .layout{
    line-height: 1.0;
}
.video-container .tools .label{
    width: 32px;
    height: 100%;
    line-height: 1.0;
    object-fit: contain;
}


.video-container .tools .line{
    border-right: solid 1px #a0a0a040;
    width: 0px;
    height: 100%;
    line-height: 1.0;
}

.heisir{
    padding: 0;
    margin: 0;
    background-image: url(../imgs/background-04.png);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0px 0px 25px 0px #fff;
    position: relative;
    overflow: hidden;
    
    -webkit-app-region: no-drag;
}

.heisir .header{
    width: 100%;
    height: 32px;
    position: absolute;
    z-index: 2;
    -webkit-app-region: drag;
}

.heisir .header .tools{
    width: fit-content;
    right: 32px;
    position: absolute;
    text-align: left;
    background-color: #000000;
    height: 100%;
    padding: 0 5px;
    box-sizing: content-box;
    border-bottom-left-radius: 5px;
    overflow: hidden;
    
    -webkit-app-region: no-drag;
}
.heisir .header .tools *{
    font-size: 12px;
    line-height: 32px;
    font-style: normal;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    color: white;
    vertical-align: middle;
    white-space: nowrap;
    width: 28px;
}
.heisir .header .tools .screen-scale{
    background-image: url(../icon/screen-scale.png);
    margin-right: 5px;
}

.heisir .header .tools .screen-1{
    background-image: url(../icon/screen-1-1.png);
    margin-right: 5px;
}

.heisir .header .systools{
    width: 32px;
    right: 0px;
    position: absolute;
    text-align: left;
    background-color: #000000bb;
    height: 100%;
    box-sizing: content-box;
    overflow: hidden;
    border-left: solid 1px #a0a0a088;
    -webkit-app-region: no-drag;
}

.heisir .header .systools:hover{
    background-color: rgb(177, 0, 0);
}

.heisir .header .systools .close{
    background-image: url(../icon/close.png);
    height: 100%;
    width: 14px;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin: 0 auto;
    background-position: center;
}

.heisir .header .systools .close:hover{
    background-image: url(../icon/close-hover.png);
}


.heisir .bitrate-container{
    position: absolute;
    top: 10px;
    right: 100px;
    -webkit-app-region: no-drag;
}

.heisir .bitrate-container .bitrateSelects,.heisir .bitrate-container .bitrateOption{
    margin: 5px 2px;
    border: 0px;
    padding: 5px 15px;
    font-size: 1em;
    background-color: black;
    color: white;
    -webkit-app-region: no-drag;
}

.heisir .screen-dialog{
    display: none;
    position: absolute;
    width: 700px;
    background-color: #d8d8d8ab;
    bottom: calc(15% + 10px);
    margin: 0 auto;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0px 0px 10px 1px #666;
    text-align: center;
    left: calc(50% - 350px);
    overflow-x: auto;
    z-index: 5;
    -webkit-app-region: no-drag;
}


.heisir .screen-dialog .screen-poster{
    width: 200px;
    margin: 10px;
    box-shadow: 0px 0px 10px 1px #333;
}

.heisir .screen-dialog .screen-poster:hover{
    transform: scale(1.1);
}