<!DOCTYPE html>
<html>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<head>
    <title>多人会议</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="element-ui/theme-chalk.css" />
</head>

<body class="heisir">
    <div id="App">
        <template>
            <div v-if="!isMaximized" class="header">
                <div class="title">多人会议 v{{version}} {{ myRoom ? "| 房间号:"+ myRoom:""}} {{ screenSharingUser ? "| "+ screenSharingUser+" 正在分享桌面":""}}</div>
                <div class="systools">
                    <div class="minimize" @click="minimize"></div>
                    <div class="fullscreen" @click="fullscreen"></div>
                    <div class="close" @click="close"></div>
                </div>
            </div>
            <div class="video-container" :class="{fullscreen:isMaximized}">
                <div class="toolbar">
                    <div v-if="isMaximized" class="fullscreenbar">
                        <div class="unfullscreen" @click="unFullscreen"></div>
                    </div>
                    <div class="network">
                        <div class="wireless"></div>
                        <div class="upload">上行：{{statUpload}} KB/s</div>
                        <div class="download">下行：{{statDownload}} KB/s FPS: {{ playerStream? Math.floor(playerStream.getVideoTracks()[0].getSettings().frameRate) :0 }}</div>
                    </div>
                </div>
                <video class="playRTC" v-if="playerStream" :src-object.prop.camel="(participants.length == 1 && localStream && remoteStreams && remoteStreams.length == 1) ? localStream.mediaStream : playerStream" 
                    :muted="(participants.length == 1 && localStream && remoteStreams && remoteStreams.length == 1) ? true : isSpeakMuted" 
                    autoplay width="100%" height="100%">
                    this browser does not supported video tag
                </video>
                <div v-show="tools_visible" class="tools" @mouseover="tools_hover = true"
                    @mouseleave="tools_hover = false">
                    <div class="member">
                        <el-dropdown trigger="click" placement="top">
                            <div class="dorpdownLabel">
                                <img class="label" src="icon/members.png" />
                            </div>
                            <el-dropdown-menu slot="dropdown">
                                <el-dropdown-item v-for="participant in participants">
                                    {{ participant.userId + (participant.id == myId ? "(我)":"") }}</el-dropdown-item>
                            </el-dropdown-menu>
                            <div class="title">成员({{participants.length}})</div>
                        </el-dropdown>
                    </div>
                    <div class="layout">
                        <el-dropdown trigger="click" placement="top" @command="clickChangeLayout">
                            <div class="dorpdownLabel">
                                <img class="label" src="icon/layout.png" />
                            </div>
                            <el-dropdown-menu slot="dropdown">
                                <el-dropdown-item>
                                    <el-select v-model="selectStreamId" placeholder="选择置顶画面" popper-class="selectStream" @change="selectStreamChange" >
                                        <el-option
                                            v-for="remoteStream in remoteStreams"
                                            :key="remoteStream.id"
                                            :label="convertSource2(remoteStream)"
                                            :value="remoteStream.id">
                                        </el-option>
                                    </el-select>
                                </el-dropdown-item>
                                <!--<el-dropdown-item v-for="remoteStream in remoteStreams" data="remoteStream.id">单一显示 {{ getStreamUserId(remoteStream) }} 的{{ convertSource(remoteStream.source.video) }}</el-dropdown-item>-->
                                <el-dropdown-item command="switchLayout-0" divided>画中画布局</el-dropdown-item>
                                <el-dropdown-item command="switchLayout-1" divided>平铺布局</el-dropdown-item>
                                <el-dropdown-item command="switchLayout-2" divided>桌面分享布局</el-dropdown-item>
                                <el-dropdown-item command="switchLayout-3" divided>单人布局</el-dropdown-item>
                            </el-dropdown-menu>
                            <div class="title">布局</div>
                        </el-dropdown>
                    </div>
                    <div class="speak" @click="clickSpeak">
                        <img class="label" :src="isSpeakMuted?'icon/speak_no.png':'icon/speak.png'" />
                        <div class="title">{{isSpeakMuted?'解除静音':'静音'}}</div>
                    </div>
                    <div v-if="usedMicrophone" class="audio" @click="clickMicrophone">
                        <img class="label" :src="isMicMuted?'icon/mic_no.png':'icon/mic.png'" />
                        <div class="title">{{isMicMuted?'开启':'静音'}}</div>
                        <div class="tip">{{ usedMicrophone }}</div>
                    </div>
                    <div v-if="usedCamera" class="video" @click="clickCamera">
                        <img class="label" :src="isCameraMuted?'icon/camera_no.png':'icon/camera.png'" />
                        <div class="title">{{isCameraMuted?'开启':'关闭'}}</div>
                        <div class="tip">{{ usedCamera }}</div>
                    </div>
                    <div v-if="usedCamera2" class="video2" @click="clickCamera2">
                        <img class="label" :src="isCamera2Muted?'icon/camera_no.png':'icon/camera.png'" />
                        <div class="title">{{isCamera2Muted?'开启':'关闭'}}</div>
                        <div class="tip">{{ usedCamera2 }}</div>
                    </div>
                    <div class="desktop" @click="clickDesktop">
                        <img class="label"
                            :src="isDesktopShared ? 'icon/desktop-share_no.png':'icon/desktop-share.png'" />
                        <div class="title">{{isDesktopShared?'关闭':'分享'}}</div>
                    </div>
                    <div class="record" @click="clickRecord">
                        <img class="label" :src="isRecordStarted?'icon/record_no.png':'icon/record.png'" />
                        <div class="title">录制</div>
                    </div>
                    <div class="exit" @click="close">
                        <img class="label" src="icon/exit.png" />
                        <div class="title">结束</div>
                    </div>
                </div>
                <div v-show="tools_visible || msg_input_visible" class="chat">
                    <div class="emoji_group">
                        <el-popover v-model="emoji_visible" popper-class="emoji_popover" placement="top" width="204"
                            trigger="click">
                            <ul>
                                <li v-for="item in emoji_data" :data="item" @click="sendEmojiMsg"><img
                                        :src="'imgs/emoji/' + item + '.png'"></li>
                            </ul>
                            <el-button class="emoji" slot="reference"></el-button>
                        </el-popover>
                    </div>
                    <div class="msg" @click="msg_input_visible = !msg_input_visible"></div>
                    <div v-show="msg_input_visible" class="msg_input">
                        <input type="text" v-model="msg_content" placeholder="请输入消息内容" @keyup="msg_input_keyup"
                            v-focus="msg_input_visible" @blur="msg_input_visible = false">
                    </div>
                </div>
            </div>

            <el-dialog title="请选择分享的桌面" :visible.sync="screen_select_visible" top="30vh"
                custom-class="screen_select_dialog" center>
                <ul class="screen_select">
                    <li v-for="item in screen_data"><img :data="item.id" :src="item.src" @click="startShareScreen" />
                    </li>
                </ul>
            </el-dialog>
        </template>
    </div>


    <script src="scripts/jquery-3.2.1.min.js"></script>
    <script src="scripts/socket.io.js" type="text/javascript"></script>
    <script src="scripts/adapter-7.0.0.js" type="text/javascript"></script>
    <script src="scripts/owt.js" type="text/javascript"></script>
    <script src="scripts/rest-sample.js" type="text/javascript"></script>

    <script src="element-ui/vue.js" type="text/javascript"></script>
    <script src="element-ui/element-ui.js" type="text/javascript"></script>
    <script src="scripts/app-index.js" type="text/javascript"></script>
    <script language="JavaScript">
        function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
            return results === null ?
                "" :
                decodeURIComponent(results[1].replace(/\+/g, " "));
        }
    </script>
</body>

</html>